/* All styles for your Card Components live here */
.banner {
    border-radius: 10px;
    margin-left: 80px;
    max-width: 670px;
}

.cardContent {
    border: 1px lightgrey solid;
    border-radius: 5px;
    margin-top:0px;
    margin-left: 80px;
    max-width: 670px;

}
